# Docker

postgres_data/
docker-compose.override.yml

# Build artifacts
**/__pycache__/
*.pyc
*.pyo
build/
dist/
*.egg-info/
htmlcov/
.coverage
.pytest_cache/

# Environment files
.env
.venv/
venv/
env/

# Database
db.sqlite3
db.sqlite3-journal

# Static files collected by Django
staticfiles/

# Django stuff
*.log
*.pot
*.pyc
__pycache__/
/static/
/media/

# IDE folders/files
.vscode/
.idea/
*.swp
*.swo

# Python virtual environment
venv/
env/
.venv/ 